<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Engage</title>
    <link rel="stylesheet" href="https://images.nsa-images.org/styles/nsaMixins.css" />
  </head>

  <body>

  <div class="container wrap"> 
    <div class="bsLessonWrap border border-warning rounded p-3">
      <div
        class="border-0 d-flex flex-column justify-content-center align-items-center text-center text-dark rounded-top"
        style="
          background-image: url(&quot;https://images.nsa-images.org/assets/headers/engage-header.png&quot;);
          background-position: bottom;
          background-size: cover;
          background-repeat: no-repeat;
        "
      >
        <img
          src="https://images.nsa-images.org/assets/icons/engage.svg"
          style="width: 25%"
          title="Engage"
          alt="Yellow head outline with a vine growing"
        />
        <h1 class="display-4"><b>Engage</b></h1>
      </div>
    </div>
      
<!-- Content Starts -  will be a variety of blocks!-->
    </div>  
  </body>
</html>
