<!DOCTYPE html>
<html lang="en">
<head>
  <title>Explain and Apply</title>
  <link rel="stylesheet" href="https://images.nsa-images.org/styles/nsaMixins.css" />
</head>

<body>
  <div class="wrap bsLessonWrap border border-danger rounded">
    <div class="d-flex flex-column justify-content-center align-items-center text-center rounded-top"
      style="background-image: url(https://images.nsa-images.org/assets/headers/explain-header.png); background-position: bottom; background-size: cover; background-repeat: no-repeat; min-height: 250px;">
      <div class="container text-center text-dark">
        <img src="https://images.nsa-images.org/assets/icons/explain-apply.svg" style="width: 25%;"
          title="Explain and Apply" alt="computer interface showing design and application" />
        <h1 class="display-4"><strong>Explain and Apply</strong></h1>
      </div>
    </div>
    <div class="container p-3">
      <!-- Content rows, blocks, etc !-->
    </div>
  </div>
</body>
</html>

