<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overview</title>
    <link rel="stylesheet" href="https://images.nsa-images.org/styles/nsaMixins.css" />
  </head>

  <!-- Customize background-img for overview page -->

  <body>
    <div class="border rounded bsLessonWrap pb-4">
      <div
        class="d-flex justify-content-center align-items-center rounded-top b text-center p-4 fw-bold text-primary"
        style="
          background-image: url({{createImageForEachUnit);
          background-position: center;
          background-size: cover;
          background-color: rgba(255, 255, 255, 0.5);
          background-blend-mode: lighten;
          min-height: 300px;
        "
      >
        <div class="text-center">
        <h1>{{TITLE}}</h1>
        <h2>Unit {{number}}: Weeks {{all weeks in lesson}}</h2>
      </div>
    </div>
    <!-- Content Start-->
    <div class="rounded border border-primary rounded-lg my-3 p-3 bg-white">
      <div class="row pt-3">
        <!--  Guiding Question Start -->
        <div class="col-2"><img class="mx-auto d-block" style="max-width: 95%;" src="https://images.nsa-images.org/assets/icons/Guiding-Question.svg" alt="Think icon" width="150" /></div>
        <div class="col-4">
          <h3 class="card-title">Guiding Question</h3>
          <p>{{Question}}</p>
        </div>
        <!-- Guiding Question End --> 
        <!-- Learning Outcome Start -->
        <div class="col-2"><img class="mx-auto d-block" style="max-width: 95%;" src="https://images.nsa-images.org/assets/icons/Target.svg" alt="Arrow hitting a target" width="150" /></div>
        <div class="col-4 pr-3">
          <h3 class="card-title">Learning Outcome</h3>
          <p>{{Outcomes}}</p>
        </div>
      </div>
      <!-- Learning Outcome End --> 
        <!-- new row -->
      <!-- Skills & Procedures -->
      <div class="row my-3">
        <div class="col-2"><img class="mx-auto d-block" style="max-width: 95%;" src="https://images.nsa-images.org/assets/icons/Skills-Procedures.svg" alt="Skills and Procedures" width="150" /></div>
        <div class="col pr-4">
          <h2 style="text-align: left;">Skills and Procedures</h2>
          <ul>
            <li>{{List item}}.</li>
          </ul>
        </div>
      </div>
      <!-- Skills & Procedures End -->
    </div>
    <!-- Content End-->
    <!-- Links Start-->
    <div class="row mt-3 ">
      <div class="col-sm-3 d-flex flex-column">
        <div class="card border-warning text-warning flex-grow-1">
          <h5 class="card-header">Engage</h5>
          <div class="card-body"><a href="Engage.html"> <img style="cursor: pointer; max-width: 90%; display: block; margin: 0 auto;" src="https://images.nsa-images.org/assets/icons/engage.svg" alt="Engage" /> </a></div>
        </div>
      </div>
      <div class="col-sm-3 d-flex flex-column">
        <div class="card border-info text-info flex-grow-1">
          <h5 class="card-header">Explore</h5>
          <div class="card-body"><a href="Explore.html"> <img style="cursor: pointer; max-width: 90%; display: block; margin: 0 auto;" src="https://images.nsa-images.org/assets/icons/explore.svg" alt="Explore" /> </a></div>
        </div>
      </div>
      <div class="col-sm-3 d-flex flex-column">
        <div class="card border-danger text-danger flex-grow-1">
          <h5 class="card-header">Explain &amp; Apply</h5>
          <div class="card-body"><a href="Explain.html"> <img style="cursor: pointer; max-width: 90%; display: block; margin: 0 auto;" src="https://images.nsa-images.org/assets/icons/explain-apply.svg" alt="Explain &amp; Apply" /> </a></div>
        </div>
      </div>
      <div class="col-sm-3 d-flex flex-column">
        <div class="card border-success text-success flex-grow-1">
          <h5 class="card-header">Share &amp; Reflect</h5>
          <div class="card-body"><a href="Share.html"> <img style="cursor: pointer; max-width: 90%; display: block; margin: 0 auto;" src="https://images.nsa-images.org/assets/icons/share-reflect.svg" alt="Share &amp; Reflect" /> </a></div>
        </div>
      </div>
    </div>
    <!-- Links End -->
  </div>
</body>

</html>
