<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Share and Reflect</title>
    <link rel="stylesheet" href="https://images.nsa-images.org/styles/nsaMixins.css" />
  </head>

  <body>
    <div class="bsLessonWrap border border-success rounded-lg">
      <div
        class="border-0 d-flex flex-column justify-content-center align-items-center text-center text-dark rounded-top"
        style="
          background-image: url(https://images.nsa-images.org/assets/headers/share-header.png);
          background-position: bottom;
          background-size: cover;
          background-repeat: no-repeat;
        "
      >
        <img
          src="https://images.nsa-images.org/assets/icons/share-reflect.svg"
          style="width: 25%"
          title="Share and Reflect"
          alt="A lightbulb with gears receiving and sending content"
        />
        <h1 class="display-4"><strong>Share and Reflect</strong></h1>
      </div>
      <div class="mt-3 p-3">

      <!-- Upload Lesson Video Start -->
      <div class="row">
        <div class="col-8 mt-3 p-3">
          <h2>Watch: </h2>
          <p>Please take time to watch this 5 minute about an easy way to submit assignments in Moodle.</p>
          <p>
            You can watch the video 2 different ways:<br /><br />
            Type this URL into your browser:
            https://www.loom.com/share/7534e1290f704b679372cb4c0c37eff9?sid=53d085fb-43d2-4db9-b5d5-94d6faf2dbe0
            <br /> <br />
            Or Scan or click the QR Code to the right.
          </p>
        </div>
        <div class="col-3">
          <a href="https://www.loom.com/share/7534e1290f704b679372cb4c0c37eff9?sid=62ad2ccc-0eb2-4ea2-bfb6-ac0b642f0a3e" title="Click to view video" target="_blank">
            <img src="https://images.nsa-images.org/assets/PBR/pbr_template/PBR-Submit-Assignment.png" title="QR Code" alt="QR Code for linked activity" width="175" style="max-width:95%;" />
          </a>
        </div>
      </div>

      <!-- Upload Lesson Video End -->
    </div>
  </div>
</body>
</html>

